.Profile {

  .prof_head {
    width: 100%;
    height: 45px;
    //background-color: #4a75a8;
    background-color: #243748;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    .prof_cont {
      height: 100%;
      width: 75%;
      margin: 0 auto;
      padding: 0 5px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        cursor: pointer;

        svg:first-child {
          font-size: 35px;
          color: white;
          transition: all ease .4s;
        }

        svg:last-child {
          color: #ffa168;
          margin-bottom: 23px;
          font-size: 16px;
          transition: all ease .4s;
          opacity: 0;
        }

        &:hover {
          svg:first-child {
            color: #d6b68b;
          }
          svg:last-child {
            opacity: 1;
          }
        }
      }

      .prof_edit {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 10px;
        cursor: pointer;
        transition: all ease .3s;
        height: 100%;

        &:hover {
          //background-color: #3d6898;
          background-color: #12212f;
        }

        span {
          align-items: center;
          margin: auto;
          font-size: 13.5px;
          color: white;
          font-weight: bold;
          overflow: hidden;
          width: 41px;
        }

        svg {
          font-size: 10px;
          margin-left: 8px;
          margin-top: 3px;
          color: #dadada;
        }

        .open_div {
          position: fixed;
          width: 130px;
          top: 55px;
          margin-left: -25px;
          border-radius: 4px;
          border: 1px solid #c5d0db;
          background-color: white;
          box-shadow: 0 0 8px 0 #c5d0db;
          transition: all ease .3s;
          transform-origin: top;

          &:after,
          &:before {
            position: absolute;
            pointer-events: none;
            border: solid transparent;
            content: '';
            height: 0;
            width: 0;
            bottom: 100%;
            right: 40px;
          }
          &:before {
            border-width: 6px;
            margin: 0 -6px;
            border-bottom-color: #c5d0db;
          }

          a {
            text-decoration: none;
          }

          div {
            font-size: 12px;
            color: #4a75a8;
            text-align: left;
            padding: 10px 0 10px 5px;
            border-bottom: 1px solid #c5d0db;
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            svg {
              color: #696969;
              font-size: 11px;
              opacity: 0;
              transition: all ease .5s;
            }

            &:hover svg {
              opacity: 1;
            }
          }
        }

        .prof_pic {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background-size: cover;
          background-position: center;
          overflow: hidden;
          cursor: pointer;
          margin-left: 10px;
        }
      }
      .active {
        background-color: #12212f;
      }
    }
  }


  .upload_cont {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.64);

    .upload_div {
      width: 450px;
      height: 550px;
      border-radius: 5px;
      box-shadow: 2px 2px 12px 0 #000000b3;
      background-color: whitesmoke;
      align-items: center;

      .upload_pic {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        border: 2px solid #b4b4b4;
        overflow: hidden;
        margin: 30px auto;
      }

      .choose_div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .img_preview {
          height: 80px;
          width: 80px;
          border-radius: 50%;
          transition: all ease .5s;
          position: absolute;
          background-position: center;
          background-size: cover;
          margin-left: -50px;
          margin-top: -85px;
          opacity: 0;
        }

        .buttons {
          button {
            border: none;
            background-color: #2a4b87;
            width: 80px;
            padding: 7px;
            border-radius: 4px;
            color: white;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
            transition: all ease .3s;
            margin: 10px;

            &:hover {
              background-color: #1b2e58;
            }

            &:last-child {
              background-color: #ff6028;

              &:hover {
                background-color: #ff2021;
              }
            }
          }
        }


        label {
          display: flex;
          flex-direction: row;
          margin-bottom: 30px;

          &:hover ~ .img_preview {
            opacity: 1;
          }
          input {
            display: none;
          }
          div {
            width: 145px;
            height: 30px;
            align-items: center;
            display: flex;
            justify-content: center;
            font-size: 14px;
            background-color: #d3394c;
            color: white;
            font-weight: bold;
            border-radius: 4px;
            cursor: pointer;
            transition: all ease .3s;


            &:hover {
              background-color: #722040;
            }

            }

            span {
              margin-left: 10px;
            }
            svg {
              font-size: 16px;
            }
          }

        .name {
          padding: 0 0 30px 0;
          position: relative;
          display: flex;
          flex-direction: row;

          .show_text {
            height: 30px;
            width: 45px;
            background-color: #0000002e;
            border: 1px solid #0000002e;
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            cursor: pointer;
            transition: all ease .4s;
            box-sizing: border-box;

            &:hover {
              svg {
                transform: scale(1.25);
              }
            }
          }

          svg {
            font-size: 18px;
            color: #ff6028;
            margin-top: 6px;
            transition: all ease .4s;

            &:hover + .prompt{
              opacity: 1;
            }
          }
          input {
            height: 30px;
            background-color: #0000002e;
            border: 1px solid #0000002e;
            border-right: none;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            padding: 5px;
            box-sizing: border-box;
            transition: all ease .4s;
          }
          .editable {
            background-color: white;
            border: 1px solid #d33a4c;
            border-right: none;
          }
          .showed_text {
            background-color: white;
            border: 1px solid #d33a4c;

          }
        }
        }
      }
    }
}