.Greeting {
  width: 100%;
  box-sizing: border-box;
  padding: 35px 90px 0 90px;

  h1 {
    font-size: 45px;
    color: #f9a148;
  }
  p {
    font-size: 22px;
    line-height: 45px;
    font-weight: 500;
    color: #4e4440;
  }
}